<form action="/result" method="POST">
Choose a pizza:
<p>
<input type="radio" name="pizza" value="Frutti di Mare"> Frutti di Mare
<input type="radio" name="pizza" value="Mergherita"> Mergherita
<input type="radio" name="pizza" value="Quattro Formaggi"> Quattro Formaggi
<input type="radio" name="pizza" value="Quattro Stagioni"> Quattro Stagioni
<p>
Choose extras:
<p>
<input type="checkbox" name="extra" value="Oregano"> Oregano
<input type="checkbox" name="extra" value="Garlic"> Garlic
<p>
Special requests: <br>
<textarea name="message" rows="3" cols="50"></textarea>
<p>
<input type="submit" value="Send">
</form>